<h2 mat-dialog-title class="edit-dialog__title">Edit {{ data.sectionLabel.toLowerCase() }}</h2>
<p class="edit-dialog__subtitle">{{ description }}</p>

<mat-dialog-content class="edit-dialog__content">
  @switch (data.section) {
    @case ('personal') {
      <div class="edit-dialog__grid">
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput type="text" autocomplete="off" [formField]="store.form.firstname" />
          @if (error(store.form.firstname()); as msg) {
            <mat-error>{{ msg }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Middle name</mat-label>
          <input matInput type="text" autocomplete="off" [formField]="store.form.middlename" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput type="text" autocomplete="off" [formField]="store.form.lastname" />
          @if (error(store.form.lastname()); as msg) {
            <mat-error>{{ msg }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Suffix</mat-label>
          <input matInput type="text" autocomplete="off" [formField]="store.form.suffix" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="dobPicker" [formField]="store.form.date_of_birth" />
          <mat-datepicker-toggle matIconSuffix [for]="dobPicker" />
          <mat-datepicker #dobPicker />
          @if (error(store.form.date_of_birth()); as msg) {
            <mat-error>{{ msg }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Sex</mat-label>
          <mat-select [formField]="store.form.sex">
            @for (option of sexOptions; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-select>
          @if (error(store.form.sex()); as msg) {
            <mat-error>{{ msg }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Civil status</mat-label>
          <mat-select [formField]="store.form.civil_status">
            @for (option of civilStatusOptions; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-select>
          @if (error(store.form.civil_status()); as msg) {
            <mat-error>{{ msg }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Citizenship</mat-label>
          <input matInput type="text" autocomplete="off" [formField]="store.form.citizenship" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Height (cm)</mat-label>
          <input matInput type="number" [formField]="store.form.height_in_cm" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Weight (kg)</mat-label>
          <input matInput type="number" [formField]="store.form.weight_in_kg" />
        </mat-form-field>
      </div>
    }

    @case ('contact') {
      <div class="edit-dialog__grid">
        <mat-form-field appearance="outline">
          <mat-label>Email address</mat-label>
          <input matInput type="email" autocomplete="off" [formField]="store.form.email_address" />
          @if (error(store.form.email_address()); as msg) {
            <mat-error>{{ msg }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Primary mobile number</mat-label>
          <input
            matInput
            type="tel"
            autocomplete="off"
            [formField]="store.form.primary_mobile_number"
          />
          @if (error(store.form.primary_mobile_number()); as msg) {
            <mat-error>{{ msg }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Secondary mobile number</mat-label>
          <input
            matInput
            type="tel"
            autocomplete="off"
            [formField]="store.form.secondary_mobile_number"
          />
          @if (error(store.form.secondary_mobile_number()); as msg) {
            <mat-error>{{ msg }}</mat-error>
          }
        </mat-form-field>
      </div>
    }

    @case ('address') {
      <fieldset class="edit-dialog__fieldset">
        <legend class="edit-dialog__legend">Present address</legend>
        <div class="edit-dialog__grid">
          <mat-form-field appearance="outline">
            <mat-label>House no. / Street</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formField]="store.form.present_address.house_no_street"
            />
            @if (error(store.form.present_address.house_no_street()); as msg) {
              <mat-error>{{ msg }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Barangay</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formField]="store.form.present_address.baranggay"
            />
            @if (error(store.form.present_address.baranggay()); as msg) {
              <mat-error>{{ msg }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Municipality / City</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formField]="store.form.present_address.municipality_city"
            />
            @if (error(store.form.present_address.municipality_city()); as msg) {
              <mat-error>{{ msg }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Province</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formField]="store.form.present_address.province"
            />
            @if (error(store.form.present_address.province()); as msg) {
              <mat-error>{{ msg }}</mat-error>
            }
          </mat-form-field>
        </div>
      </fieldset>

      <fieldset class="edit-dialog__fieldset">
        <legend class="edit-dialog__legend">Permanent address</legend>
        <mat-checkbox
          class="edit-dialog__same"
          [checked]="store.sameAsPresent()"
          (change)="store.setSameAsPresent($event.checked)"
        >
          Same as present address
        </mat-checkbox>
        <div class="edit-dialog__grid">
          <mat-form-field appearance="outline">
            <mat-label>House no. / Street</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formField]="store.form.permanent_address.house_no_street"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Barangay</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formField]="store.form.permanent_address.baranggay"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Municipality / City</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formField]="store.form.permanent_address.municipality_city"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Province</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formField]="store.form.permanent_address.province"
            />
          </mat-form-field>
        </div>
      </fieldset>
    }

    @case ('education') {
      <app-applicant-education />
    }

    @case ('skills') {
      <app-applicant-skills />
      <h4 class="edit-dialog__subheading">Trainings &amp; certifications</h4>
      <app-applicant-trainings />
    }

    @case ('work') {
      <app-applicant-work-experience />
    }

    @case ('preferences') {
      <app-applicant-job-preferences />
    }

    @case ('employment') {
      <div class="edit-dialog__grid">
        <mat-form-field appearance="outline">
          <mat-label>Employment status</mat-label>
          <mat-select [formField]="store.form.employment_status">
            @for (option of employmentStatusOptions; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-select>
          @if (error(store.form.employment_status()); as msg) {
            <mat-error>{{ msg }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Salary expectation</mat-label>
          <input
            matInput
            type="text"
            autocomplete="off"
            [formField]="store.form.salary_expectation"
          />
          @if (error(store.form.salary_expectation()); as msg) {
            <mat-error>{{ msg }}</mat-error>
          }
        </mat-form-field>
      </div>
    }
  }
</mat-dialog-content>

<mat-dialog-actions align="end" class="edit-dialog__actions">
  <button matButton type="button" (click)="cancel()">Cancel</button>
  <button matButton="filled" type="button" [disabled]="saving()" (click)="save()">
    Save changes
  </button>
</mat-dialog-actions>
