.dark-high-contrast {
  --md-sys-color-primary: rgb(201 254 193);
  --md-sys-color-surface-tint: rgb(161 211 154);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(157 207 150);
  --md-sys-color-on-primary-container: rgb(0 15 1);
  --md-sys-color-secondary: rgb(227 245 220);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(182 200 176);
  --md-sys-color-on-secondary-container: rgb(3 14 3);
  --md-sys-color-tertiary: rgb(201 248 254);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(157 203 208);
  --md-sys-color-on-tertiary-container: rgb(0 14 16);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(16 20 15);
  --md-sys-color-on-background: rgb(224 228 219);
  --md-sys-color-surface: rgb(16 20 15);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(66 73 64);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(236 242 230);
  --md-sys-color-outline-variant: rgb(190 197 185);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 219);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(37 81 37);
  --md-sys-color-primary-fixed: rgb(188 240 180);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(161 211 154);
  --md-sys-color-on-primary-fixed-variant: rgb(0 22 2);
  --md-sys-color-secondary-fixed: rgb(213 232 207);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(186 204 179);
  --md-sys-color-on-secondary-fixed-variant: rgb(6 20 6);
  --md-sys-color-tertiary-fixed: rgb(188 235 240);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 212);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 22);
  --md-sys-color-surface-dim: rgb(16 20 15);
  --md-sys-color-surface-bright: rgb(77 81 75);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(29 33 27);
  --md-sys-color-surface-container: rgb(45 50 44);
  --md-sys-color-surface-container-high: rgb(56 61 54);
  --md-sys-color-surface-container-highest: rgb(68 72 65);
  --md-extended-color-custom-color1-color: rgb(212 252 181);
  --md-extended-color-custom-color1-on-color: rgb(0 0 0);
  --md-extended-color-custom-color1-color-container: rgb(168 206 139);
  --md-extended-color-custom-color1-on-color-container: rgb(3 14 0);
}
